<nav class="header navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand site-brand" href="/">
            <img class="logo" width="40" alt="Angular Logo" src="/assets/images/logo.png" />
            <h1 class="name">ProTasks</h1>
            <span class="branch">Keep your life easier</span>
        </a>
        <div class="loggedin-user" *ngIf="loggedUser">
            <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="me-4" aria-label="User logged in">
                <span class="name me-2">{{loggedUser.name}}</span>
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before" class="controls">
                <button mat-menu-item>
                    <mat-icon>badge</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
</nav>
