<div class="page home">
    <div class="wrapper">
        <div class="sidebar">
            <app-project-list></app-project-list>
        </div>
        <div class="main">
            <div class="col-sm-12 mt-4">
                <div class="row">
                    <app-form-add-task></app-form-add-task>
                </div>
            </div>
            <div class="col-sm-12 mt-4">
                <div class="row">
                    <app-task-list></app-task-list>
                </div>
            </div>
        </div>
    </div>
</div>