/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.text-center {
    text-align: center;
}

.main {
    margin-top: 60px;
}

*:focus-visible,
*:focus {
    outline: none !important;
}

.divider {
    height: 1px;
    background-color: #eee;
    display: block;
    margin: 15px 0;
}

.btn-success {
    background-color: #1f8613;
    color: whitesmoke;
}
.btn-brand {
    background-color: #f7c231;
}
.btn-fullwidth {
    width: 100% !important;
    min-width: unset !important;
}