.top-destination {

    margin: 3.5rem auto;

    .title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        color: #2a2a2e;
        text-align: center;
    }

    &_list {

        text-align: center;
        width: 100%;

        li {
            display: inline-block;
            margin: 10px 25px;
            text-align: center;

            .image {
                width: 124px;
                height: 124px;
                border: 1px solid #bbb;
                border-radius: 124px;
                padding: 3px;
            }

            .location {
                font-weight: 600;
                margin: 5px 0;
                
            }

            .description {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: #737373;
            }
        }
    }
}